<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="TAMUT Test Suite" verbose="1">
	<test name="SearchforCS">
		<classes>
			<class name="testing.demo.tamut.demo.TestSearch" />
		</classes>
	</test>
	<test name="CSfromSearch">
		<classes>
			<class name="testing.demo.tamut.demo.ComputerScienceSearch" />
		</classes>
	</test>
	<test name="Visit Us">
		<classes>
			<class name="testing.demo.tamut.demo.TestVisitUsPage" />
		</classes>
	</test>
</suite>